*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: radial-gradient(circle at center center, rgb(255, 56, 92) 0%, rgb(230, 30, 77) 27.5%, rgb(227, 28, 95) 40%, rgb(215, 4, 102) 57.5%, rgb(189, 30, 89) 75%, rgb(189, 30, 89) 100%);
    /* rgb(34,34,34) */
}

/* .calculator-grid {
    display: grid;
    
} */